<!DOCTYPE html>
<html lang="es"xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!-- Bootstrap core CSS -->
  <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
   <link href="../css/css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">Spring eCommerce</a>

     


  
  </div>
</nav>

<br>
<br>
<br>
<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Spring eCommerce <small>Products</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">Create Product</li>
  </ol>

  <h2>Create Product</h2>
  <form class="form-horizontal" th:action="@{/Productos/save}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" name="nombre"
        placeholder="Enter product name" autocomplete="off" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="descripcion">Description:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="descripcion" name="descripcion"
        placeholder="Enter the Description of the product" required
        autocomplete="off"> </textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="cantidad">Quantity:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="cantidad"
        name="cantidad" placeholder="Enter the quantity of the product"
        required autocomplete="off">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="precio">Price:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" step="any" id="precio" name="precio"
        placeholder="Enter the price of the product" autocomplete="off" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="img">Image:</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file" id="img" name="img">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-info">
          <span class="glyphicon glyphicon-saved"></span> Save
        </button>
      </div>
    </div>

  </form>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-secondary">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Spring eCommerce 2023</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../css/vendor/jquery/jquery.min.js"></script>
<script src="../css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
