<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!-- Bootstrap core CSS -->
  <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <div class="container">
      <a class="navbar-brand text-danger" href="#">Products.com</a>

      


   
  </div>
</nav>
<br>
<br>
<br>
<!-- Page Content -->
<div class="containe  ">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Spring eCommerce <small>Products</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">View Products</li>
  </ol>

  <a class="btn btn-primary" th:href="@{Productos/create}" > Create Product</a>
  <h2>Products</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Qantity</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="producto: ${productoss}">
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.descripcion}" ></td>
        <td th:text="${producto.cantidad}"></td>
        <td th:text="${producto.precio}"></td>
        <td><a  class="btn btn-info" th:href="@{Productos/edit/{id} (id=${producto.id}) }" >Edit</a> </td>
        <td><a  class="btn btn-danger" th:href="@{Productos/delete/{id} (id=${producto.id}) }">Delete</a> </td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-secondary">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Spring eCommerce 2023</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../css/vendor/jquery/jquery.min.js"></script>
<script src="../css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
