<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/style.css}" >
 <link rel="preconnect" :href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<title>Inicio de sesión</title>
</head>
<body>


	

	              <div th:if=${param.logout}>
						<div class="alert alert-info "><p class="text-danger">Ha cerrado sesión exitosamente</p>
						</div>
					</div>

	<div class=""container-form sign-in>
		<div class="">
			<div class="formulario">
				
				<form th:action="@{/login}" method="post" >
             <h2 class="create-account">Start Section</h2>
                     <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-instagram'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-linkedin' ></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div>
					<div th:if=${param.error}>
						<div class="alert alert-danger">Usuario o contraseña
							inválidos</div>
					</div>

					


					<div class="form-group">
						<input id="username"  name="username" type="text" class="form-control"
							required autofocus="autofocus" placeholder="Digite su email ID">
					</div>

					<div class="form-group">
						 <input
							id="password" type="password"  name="password" class="form-control" required
							autofocus="autofocus" placeholder="Digite su password">
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<input type="submit" class="form-control btn btn-primary" name="login-submit" id="login-submit"
									value="Iniciar sesión" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
					<span>Si eres nuevo usuario <a th:href="@{/registro}">regístrate
							aqui</a></span>
				</div>

			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>














